.container {
  margin-top: 70px;
}

.login-card {
  width: 24rem;
  margin: 0 auto;
  // background-color: #ECEFF1;

  .card-body {
    margin: 0 auto !important;

  }

  .card-header {
    background-color: #dd4b39;
    color: #FFF;
  }
}

.g-signin2 {
      padding: 32px 0 32px;

}

.abcRioButtonContentWrapper {
  margin: 0 auto;
}
